
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body, html { margin: 0; padding: 0; height: 100%; background-color: #121212; font-family: 'Poppins', sans-serif; color: #e0e0e0; }
.wrapper { display: flex; flex-direction: column; height: 100vh; }
header { padding: 15px 20px; background-color: #1f1f1f; text-align: center; border-bottom: 1px solid #333; }
header h1 { margin: 0; font-size: 1.2em; } header p { margin: 4px 0 0; color: #999; font-size: 0.8em;}
main { flex-grow: 1; background-color: #000; display:flex; align-items:center; justify-content:center; }
#media-viewer { width: 100%; height: 100%; }
#media-viewer img, #media-viewer video { object-fit: contain; width: 100%; height: 100%; }
footer { background-color: #1f1f1f; border-top: 1px solid #333; padding: 10px; }
#thumbnail-grid { display: grid; grid-template-columns: repeat(2, 1fr); grid-auto-rows: 120px; gap: 10px; }
.thumb-item { height: 100%; width: 100%; cursor: pointer; border-radius: 8px; overflow: hidden; border: 2px solid #444; }
.thumb-item img, .thumb-item video { width:100%; height:100%; object-fit:cover; }
